*{
    margin: 0;

    padding: 0;
}

#container {
    background: #000;
    margin: 20px;
    padding: 30px;
}


#box1,
#box2,
#box3 {
    background: #ddd;
    padding: 20px;
    border: 5px solid #cfc;
    margin: 50px;
}

#box1 {
    float:left;
    color: white;
    border-style: dashed;
    background-color: transparent;
}
#box2{
    float: left;
    background-color: aqua;
    border-color: #f00;
}
#box3{
    float: left;
}


/*通过空div元素解决collapse塌缩问题*/
.clear {
    clear: both;
}